<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Car Dealership</title>
    </head>
    <body>
        <div class='container'>
            <h1>Car Dealership - Connecting car buyers to car sellers!</h1>
            <button type='button' class='btn btn-success'><a href='/search'>Buy a car!</a></button>
            <button type='button' class='btn btn-success'><a href='/post-car'>Post your car!</a></button>
        </div>
    </body>
</html>
