<html>
    <head>
        <title>Car Dealership</title>
    </head>
    <body>
        <form action='/view-cars' method='post'>
            <h3>Post a New Car</h3>
            <div>
                <label for='make_model'>Make and Model:</label>
                <input id='make_model' name='make_model' type='text'>
            </div>
            <div>
                <label for='price'>Price:</label>
                <input id='price' name='price' type='text'>
            </div>
            <div>
                <label for='miles'>Miles:</label>
                <input id='miles' name='miles' type='text'>
            </div>
            <div>
                <label for='image'>Image URL:</label>
                <input id='image' name='image' type='text'>
            </div>
            <button type='submit'>Post your car!</button>
        </form>
    </body>
</html>
